*,
*:before,
*:after {
   box-sizing: border-box;
}
* {
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-block-start: 0em;
   margin-block-end: 0em;
}
body {
   max-width: 100%;
   font-family: "Open Sans Condensed";
   color: #fff;
   font-stretch: ultra-condensed;
   background-color: rgba(51, 51, 51, 1);
}

aside {
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-start;
   align-items: center;
   width: 8%;
   padding-bottom: 5%;
   background: rgba(51, 51, 51, 0.75);
}
main {
   display: flex;
   /* 
   min-height: 600px;*/
   /* max-height: 100%; */
   min-width: 100%;
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.1)),
      url(images/First-screen.png) no-repeat;
   background-position: center;
   background-size: 100% 100%;
}

@media (max-width: 992px) {
   main {
      background: url(images/first-screen_992.png) no-repeat;
      background-position: center;
      background-size: 100% 100%;
   }
}

.first-screen {
   display: flex;
   flex-direction: column;
   /* height: 100vh; */
   min-height: 600px;
   width: 100%;
}
aside span::before {
   content: "";
   width: 80px;
   height: 3px;
   background-color: #c4c4c4;
   display: inline-block;
   transform: rotate(90deg);
   margin-bottom: 70px;
   margin-top: 50px;
}
aside span {
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #c4c4c4;
   writing-mode: tb-rl;
   transform: rotate(180deg);
}

aside ul {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
}

aside li a svg {
   margin: 15px;
}

aside li a svg:active *,
aside li a svg:hover * {
   fill: #d1a954;
   fill-opacity: 1;
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 10%;
   margin-top: 5%;
}
nav {
   width: 75%;
}
nav ul {
   display: flex;
   justify-content: space-around;
}

nav li {
   text-transform: uppercase;
   margin: 0 3% 0 0;
   padding-bottom: 5px;
   border-bottom: 3px solid rgba(209, 169, 84, 0);
}

header span {
   padding-bottom: 5px;
   border-bottom: 3px solid rgba(209, 169, 84, 0);
}

nav li:active,
nav li:hover,
header span:active,
header span:hover {
   padding-bottom: 5px;
   border-bottom: 3px solid rgb(209, 169, 84);
}
.first-screen_content {
   margin: 5% 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 90%;
   margin-top: 13%;
}
.first-screen_text {
   width: 50%;

   display: flex;
   flex-direction: column;
}
h1 {
   width: 85%;
   font-weight: 700;
   font-size: 64px;
   line-height: 87px;
   text-transform: uppercase;
   font-stretch: ultra-condensed;
   padding: 0 0 7% 0;
}
div.first-screen_text p {
   width: 83%;
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
}
button {
   width: 20%;
   margin-top: 11%;
   display: block;
   background: #d1a954;

   font-weight: bold;
   font-size: 18px;
   text-align: center;
   text-transform: uppercase;
   padding: 2% 2%;
}
.first-screen_slider {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 80%;
}
.first-screen_slider-img {
   display: block;
   width: 90%;
   height: auto;
   position: relative;
   margin-top: -20px;
   margin-left: -20px;
}
.first-screen_slider-fon {
   display: block;
   width: 300px;
   height: 420px;

   position: absolute;
   z-index: 0;
   background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url(images/slider.png);
}
.first-screen_slider-next {
   display: flex;
   justify-content: space-between;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #c4c4c4;
   margin-top: 20%;
   margin-left: -10%;
}
div.first-screen_slider-next span + span {
   color: #fff;
}
div.first-screen_slider-next :first-child::before {
   content: url(images/arrow-left.svg);
   margin-right: 25px;
}
div.first-screen_slider-next :last-child::after {
   content: url(images/arrow-right.svg);
   margin-left: 25px;
}

@media (max-width: 992px) {
   aside {
      width: 15%;
   }

   .first-screen {
      display: flex;
      flex-direction: column;
   }

   header {
      display: flex;
      flex-direction: column;
   }
   nav {
      width: 100%;
      justify-content: space-between;
   }
   header span {
      justify-content: center;
      margin-top: 5%;
      padding-bottom: 5px;
      border-bottom: 3px solid rgba(209, 169, 84, 0);
   }
   .first-screen_text {
      width: 78%;

      display: flex;
      flex-direction: column;
   }
   .first-screen_slider {
      display: none;
   }

   .first-screen_slider-img {
      display: none;
   }
}

/* О театре */

.about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   /* border: 1px solid rgb(98, 0, 255); */
}
h2 {
   font-weight: 300;
   font-size: 48px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   margin-top: 5%;
   margin-bottom: 5%;
}
h2 span {
   color: #d1a954;
}

.about-content {
   /* border: 1px solid rgb(0, 255, 170); */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
   width: 70%;
}
.about-text {
   font-family: "Open Sans";
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   width: 41%;
   padding-right: 5%;
}
h4 {
   font-weight: bold;
   font-size: 21px;
   line-height: 29px;
   letter-spacing: 10%;
   text-transform: uppercase;
   margin-block-start: 0;
   margin-block-end: 10%;
}
div.about_numbers span {
   color: #d1a954;
}
.about_numbers {
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.05em;
   width: 23%;
}
.about_numbers-img {
   margin: 4%;
}
.about-img {
   width-max: 30%;
   margin-left: 1%;
}

@media (max-width: 992px) {
   .about-content {
      justify-content: flex-end;
      width: 85%;
   }

   .about-img {
      display: none;
   }
   .about-text {
      width: 60%;
   }
   .about_numbers {
      width: auto;
   }
}

/* Проекты */

.projects {
   display: flex;
   max-width: 100%;
   flex-direction: column;
   justify-content: center;
}
.projects_gallery {
   display: flex;
   font-display: row;
   justify-content: flex-end;
   height: 65%;
}
ul.projects_gallery li {
   width: 23%;
   display: flex;
   flex-direction: column;

   position: relative;
}

.projects_gallery-img {
   opacity: 0.65;
   position: relative;
   width: 100%;
}

.projects_gallery p {
   font-weight: bold;
   text-transform: uppercase;
   position: absolute;
   margin: 8%;
}

p.horisontal {
   font-size: 24px;
}

p.vertical {
   transform-origin: top left;
   transform: rotate(-90deg);
   font-size: 18px;
   bottom: 0;
}

ul.projects_gallery li:active,
ul.projects_gallery li:hover {
   background: url(images/loupe.svg), url(images/Ellipse.svg);
   background-size: 9%, 25%;
   background-position: center, center;
   background-repeat: no-repeat;
}

ul.projects_gallery li:active img,
ul.projects_gallery li:hover img {
   z-index: -5;
   opacity: 1;
}

ul.projects_gallery li:active p,
ul.projects_gallery li:hover p {
   display: none;
}

@media (max-width: 992px) {
   .projects {
      align-items: center;
   }

   ul.projects_gallery li:nth-child(3),
   ul.projects_gallery li:nth-child(4) {
      display: none;
   }
   ul.projects_gallery {
      justify-content: center;
      width: 90%;
      /* border: 1px solid rgb(255, 0, 140); */
   }
   ul.projects_gallery li {
      width: auto;
      height: 65%;
      /* border: 1px solid rgb(0, 255, 98); */
   }

   .projects_gallery-img {
      object-fit: none;
   }

   ul.projects_gallery li:nth-child(2):active,
   ul.projects_gallery li:nth-child(2):hover {
      background: url(images/loupe.svg), url(images/Ellipse_992.svg);
      background-size: 15%, 40%;
      background-position: 95% 50%, right;
      background-repeat: no-repeat;
   }
}

/* Рейтинг */

.raiting {
   display: flex;
   margin-top: 10%;
   max-width: 100%;
   justify-content: center;
   align-items: center;
   /* border: 1px solid rgb(98, 0, 255); */
}
.raiting_content {
   display: flex;
   flex-direction: row;
   width: 1110px;
   height: 550px;
   justify-content: center;
   align-items: center;

   background: url(images/rating.png);
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   /* border: 1px solid rgb(255, 0, 76); */
}

.raiting_years {
   margin-right: 5%;
   /* border: 1px solid rgb(0, 255, 21); */
}

.raiting_years ul {
   display: inline-block;
   font-weight: bold;
   font-size: 72px;
   line-height: 98px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #d1a954;
}
.raiting_stars {
   width: 50%;
   /* border: 1px solid rgb(255, 0, 140); */
}

.raiting_stars img {
   margin-right: 25px;
   margin-bottom: 25px;
}

.raiting_stars p {
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 150%;
}

@media (max-width: 992px) {
   .raiting {
      width: 100%;
   }

   .raiting_content {
      max-width: 100%;
      background-size: 100% 100%;
      background-position: 50% 50%;
   }

   .raiting_stars p {
      font-size: 34px;
   }
}

/* Партнеры */

.partners {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   /* border: 1px solid rgb(98, 0, 255); */
}
.partners_content {
   display: flex;
   width: 60%;
   flex-wrap: wrap;
}

.partners_content img {
   flex: calc(100% / 4 - 20px * 2);
   margin: 20px;
   margin-bottom: 5%;
}

@media (max-width: 992px) {
   .partners_content img:first-child,
   .partners_content img:last-child {
      display: none;
   }
   .partners_content {
      width: 75%;
   }
}
/* Контактная форма */

.contacts {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-bottom: 80px;
   /* border: 1px solid rgb(251, 255, 0); */
}
.contacts_content {
   display: flex;
   width: 60%;
   justify-content: space-between;
   align-items: flex-start;
   /* border: 1px solid red; */
}

.contacts_info {
   display: flex;
   flex-direction: column;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   margin-right: 3%;
   width: 25%;
   /* border: 1px solid rgb(128, 0, 117); */
}
.contacts_info p {
   margin-bottom: 25px;
}
.contacts-form {
   display: flex;
   flex-direction: column;
   width: 75%;
   /* border: 1px solid rgb(0, 128, 53); */
}
.contacts-form input,
.contacts-form textarea {
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 12px;
   height: 35px;
   padding-left: 2%;
   color: #989898;
   background: #444444;
   border: 1px solid #616161;
   box-sizing: border-box;
}
.contacts-form input[type]:not([type="submit"]) {
   margin: 0 3% 3% 0;
   width: 25%;
}
.contacts-text {
   display: flex;
   width: 100%;
   flex-direction: column;
   height: 135px;
   flex-wrap: wrap;
   /* border: 1px solid white; */
}
.contacts-form textarea {
   width: 40%;
   height: 100px;
   padding-top: 7px;
   margin: 0;
}

.contacts-form input[type="submit"] {
   width: 190px;
   height: 50px;
   background: #d1a954;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #ffffff;
   justify-content: flex-end;
   align-items: flex-end;
}

.contacts-form p {
   font-family: "Open Sans";
   font-size: 12px;
   line-height: 150%;
   color: #989898;
   display: block;
   height: 50px;
   width: 60%;
   margin-right: 5%;
}

.contacts_bottom {
   display: flex;
   width: 100%;
   flex-direction: row-reverse;
   justify-content: space-between;
   /* border: 1px solid rgb(0, 87, 128); */
}

@media (max-width: 992px) {
   .contacts_content {
      width: 85%;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }
   .contacts-form {
      width: 85%;
   }

   .contacts_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5%;
      width: 85%;
      columns: 2;
      /* margin-bottom: 5%; */
      /* border: 1px solid rgb(47, 128, 0); */
   }

   .adreses p {
      text-align: end;
   }
   .contacts_bottom {
      margin-bottom: 5%;
   }
   .contacts {
      margin-bottom: 10%;
   }
}

/* Footer */

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   width: 100%;
   height: 78px;
}
.footer-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #565656;
   width: 60%;
   height: 100%;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 150%;
   color: #989898;
}
